<div class="register-wrapper mt-3">
  <form [formGroup]="registrationForm" (ngSubmit)="RegisterAction()">
    <div>
      <div class="d-flex justify-content-center">
        <h2>Tworzenie konta</h2>
      </div>
      <p class="border-bottom"></p>

      <div class="d-flex mb-2">
        <div style="margin-right: 8px">
          <mat-form-field>
            <mat-label>Imie</mat-label>
            <input matInput formControlName="firstName" />
            <mat-error *ngIf="registrationForm.controls.firstName">{{
              getErrorMessage(registrationForm.controls.firstName)
            }}</mat-error>
          </mat-form-field>
        </div>
        <mat-form-field>
          <mat-label>Nazwisko</mat-label>
          <input matInput formControlName="lastName" />
          <mat-error *ngIf="registrationForm.controls.lastName.invalid">{{
            getErrorMessage(registrationForm.controls.lastName)
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="mb-2">
        <mat-form-field>
          <mat-label>Nazwa użytkownika</mat-label>
          <input matInput formControlName="userName" />
          <mat-error *ngIf="registrationForm.controls.userName.invalid">{{
            getErrorMessage(registrationForm.controls.userName)
          }}</mat-error>
        </mat-form-field>
      </div>
      <div class="mb-2">
        <mat-form-field appearance="fill">
          <mat-label>Adres e-mail</mat-label>
          <input
            matInput
            placeholder="adres@gmail.com"
            required
            formControlName="email"
          />
          <mat-error *ngIf="registrationForm.controls.email.invalid">{{
            getErrorMessage(registrationForm.controls.email)
          }}</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Hasło</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
            type="button"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>

          <mat-progress-bar
            mode="determinate"
            color="{{ currentProgresBarColor }}"
            class="green-progress"
            [value]="passwordStrengthLevel"
          >
          </mat-progress-bar>

          <mat-error *ngIf="registrationForm.controls.password.invalid">{{
            getErrorMessage(registrationForm.controls.password)
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="d-flex justify-content-end mb-2 mt-5">
        <button
          mat-raised-button
          color="primary"
          style="margin-right: 5px"
          (click)="registrationForm.reset()"
          [disabled]="!registrationForm.dirty"
        >
          Wyczyść formularz
        </button>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="registrationForm.invalid || requestProcessing"
        >
          Zarejestruj konto
        </button>
      </div>
      <div class="d-flex justify-content-end mb-2">
        <button
          mat-raised-button
          color="primary"
          style="margin-right: 5px"
          routerLink="/logowanie"
        >
          <- Zaloguj się
        </button>
      </div>
      <!-- <p *ngIf="requestProcessing">Trwa przetwarzanie</p> -->
      <mat-progress-bar
        *ngIf="requestProcessing"
        mode="indeterminate"
      ></mat-progress-bar>
    </div>
  </form>
</div>
