<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{ currentSession.title }}</mat-card-title>
      <mat-card-subtitle>{{ currentSession.username }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="mt-4">
      <table class="table">
        <tbody>
          <tr>
            <td>Data utworzenia</td>
            <td>{{ currentSession.createdate }}</td>
          </tr>
          <tr>
            <td>Liczba odwiedziń przez uzytkowników</td>
            <td>{{ currentSession.viewnumber }}</td>
          </tr>
          <tr>
            <td>Publiczność sesji</td>
            <td>{{ currentSession.isshared ? "Publiczna" : "Prywatna" }}</td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>

  <span *ngIf="wordList.length <= 0" class="d-flex mt-4 justify-content-center"
    ><h2>Ta sesja nie posiada żadnych słówek</h2></span
  >

  <ng-container *ngIf="wordList.length > 0">
    <span class="d-flex mt-4 justify-content-center"
      ><h2>Lista słówek</h2></span
    >
    <table mat-table [dataSource]="wordList" class="mat-elevation-z8">
      <ng-container matColumnDef="englishmean">
        <th mat-header-cell *matHeaderCellDef>Znacznie Angielskie</th>
        <td mat-cell *matCellDef="let element">{{ element.englishmean }}</td>
      </ng-container>

      <ng-container matColumnDef="polishmean">
        <th mat-header-cell *matHeaderCellDef>Znacznie Polskie</th>
        <td mat-cell *matCellDef="let element">{{ element.polishmean }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </ng-container>
</div>
