<nav>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>Eng Boost</span>
      <span class="example-spacer"></span>

      <button
        *ngIf="showLogoutButton"
        mat-raised-button
        color="primary"
        style="margin-right: 10px"
        routerLink="/shared"
      >
        Udostępnione
      </button>
      <button
        *ngIf="showLogoutButton"
        mat-raised-button
        color="primary"
        routerLink="/pulpit"
        style="margin-right: 10px"
      >
        Pulpit
      </button>
      <button
        *ngIf="showLogoutButton"
        mat-raised-button
        color="primary"
        routerLink="/logowanie"
        (click)="logout()"
      >
        Wyloguj się
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
</nav>
