<div class="register-wrapper mt-3">
  <form>
    <div>
      <div class="d-flex justify-content-center">
        <h2>Logowanie</h2>
      </div>
      <p class="border-bottom"></p>
      <mat-form-field>
        <mat-label>Nazwa użytkownika</mat-label>
        <input matInput formControlName="username" />
        <!-- <mat-error *ngIf="controls.username.invalid">{{
          getErrorMessage(controls.username)
        }}</mat-error> -->
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Podaj hasło</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
          type="button"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <div class="d-flex justify-content-end mb-2">
      <button mat-raised-button color="primary" type="submit">
        Zaloguj się
      </button>
    </div>

    <div class="d-flex justify-content-center mt-4">
      <div>
        <h3>
          Nie masz konta?
          <a routerLink="/rejestracja">Zarejestruj się</a>
        </h3>
      </div>
    </div>
  </form>
</div>
